  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      </aside>
      <section class="recipe_form">
        <p>There is a 5 recipe limit so pick your favorites</p>
        <%= render 'recipe_form' %>
      </section>

  </div>